<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tours page</title>
<!-- <link href="/resources/css/lab.css" rel="stylesheet" type="text/css"> -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
	<h1>List of available tours</h1>
	
	<div>
		<table th:if="${!tours.empty}">
			<tr>
				<td>Name</td>
				<td>Code</td>
				<td>Continent</td>
				<td>Date</td>
				<td>Duration</td>
				<td>All Inclusive</td>
			</tr>
			<tr th:each="tour : ${tours}">
				<td th:text="${tour.name}"></td>
				<td th:text="${tour.code}"></td>
				<td th:text="${tour.continent}"></td>
				<td th:text="${tour.date}"></td>
				<td th:text="${tour.duration}"></td>
				<td th:text="${tour.allInclusive}"></td>
			</tr>
		</table>
		<span th:if="${tours.empty}">No tours in the offer</span>
	</div>
	
	<p>
		<a th:href="@{/}">Back</a>
	</p>

</body>
</html>