<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<meta charset="UTF-8">
        <title>eshop</title>
        <link rel="icon" type="image/x-icon" th:href="@{/resources/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/styles.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/login.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/all.css}">
        <script th:src="@{/resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/resources/js/all.js}"></script>
	</head>
	<body>
		<div class="container">
			<div class="d-flex justify-content-center h-100">
				<div class="card">
					<div class="card-header">
						<h2>登入</h2>
					</div>
					<div class="card-body">
						<form action="#" th:action="@{/checkUserAccount}" method="post">
							<div th:if="${param.error}" class="alert alert-login">
								帳號或密碼錯誤
							</div>
							
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-user"></i></span>
								</div>
								<input type="text" class="form-control" name="username" placeholder="帳號">
							</div>
							<div class="input-group form-group">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-key"></i></span>
								</div>
								<input type="password" class="form-control" name="password" placeholder="密碼">
							</div>
							<div class="form-group">
								<input type="submit" value="登入" class="btn btn-primary">
								<a th:href="@{/}" class="btn btn-warning float-right">返回</a>
							</div>
						</form>
					</div>
					<div class="card-footer">
						<div class="d-flex justify-content-center footer">
							還沒有帳號嗎？<a th:href="@{/signup}">註冊</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>