<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
        <meta charset="utf-8" />
        <title>eshop</title>
        <link rel="icon" type="image/x-icon" th:href="@{resources/ico/favicon.ico}">
        <link rel="stylesheet" type="text/css" th:href="@{resources/css/bootstrap.min.css}">
        <script th:src="@{resources/js/jquery-3.6.3.min.js}"></script>
        <script th:src="@{resources/js/bootstrap.bundle.min.js}"></script>
	</head>
	<body class="d-flex flex-column h-100">
		<main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/}">eshop</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="#">產品維護</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">訂單</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" th:href="@{/add-order}">新增訂單</a></li>
                                    <li><a class="dropdown-item" th:href="@{/show-order}">管理訂單</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">購物車</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">會員中心</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
						<h1>所有訂單</h1>
					</div>
					
					<div class="row gx-5 justify-content-center">
						<table class="table table-hover" th:if="${!orders.empty}">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">訂單日期</th>
									<th scope="col">客戶編號</th>
									<th scope="col">付款方式</th>
									<th scope="col">總額</th>
									<th scope="col">編輯內容</th>
									<th scope="col">編輯詳細內容</th>
									<th scope="col">刪除訂單</th>
									<th scope="col">詳細內容</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="order : ${orders}">
									<td th:text="${orderStat.count}"></td>
									<td th:text="${order.orderDate}"></td>
									<td th:text="${order.customerId}"></td>
									<td th:text="${order.payment}"></td>
									<td th:text="${order.amount}"></td>
									<td><a class="btn btn-primary" th:href="@{/edit-order/} + ${order.orderId}">編輯</a></td>
									<td><a class="btn btn-primary" th:href="@{/edit-order-details/} + ${order.orderId}">編輯</a></td>
									<td><a class="btn btn-danger" th:href="@{/delete-order/} + ${order.orderId}">刪除</a></td>
									<td><a class="btn btn-success" th:href="@{/show-order-details/} + ${order.orderId}">顯示</a></td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="row gx-5 justify-content-center" th:if="${orders.empty}">
						<h3>沒有任何訂單</h3>
					</div>
					
					<div class="row gx-5 justify-content-center">
						<a th:href="@{/}" class="btn btn-warning">返回</a>
					</div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; eshop 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</html>
